;; shadow-cljs configuration
{:source-paths
 ["client/dev"
  "client/main"
  "client/test"]

 :dependencies
 [[reagent "1.1.0"]
  [re-frame "1.2.0"]
  [binaryage/devtools "1.0.3"]]

 :dev-http {8080 "public"}
 :builds
 {:frontend
  {:target :browser
   :devtools {:preloads [devtools.preload]}
   :modules {:main {:init-fn app/main}}
   :compiler-options {:source-map true}}
  :deploy
  {:target :browser
   :modules {:main {:init-fn app/main}}
   :release {:output-dir "resources/public/js"}
   :optimizations :advanced}}}
